.OrgList .orgs {
    display: grid;
    font-size: 0.8rem;
    grid-template-columns: 10rem repeat(4, 8rem) auto repeat(2, 8rem);
    /* gap: var(--gap-s); */
}

.OrgList .orgs .Org,
.OrgList .orgs .row {
    display: contents;
}


.OrgList .row li {
    text-align: left;
    border: var(--border) var(--color-05);

    background-color: var(--color-03);
    box-shadow:
        var(--shadow) var(--color-03);

    color: inherit;

    padding: var(--gap-s);
    transition: var(--transition);
}

.OrgList .row:hover li {
    background-color: var(--color-04);
    box-shadow: var(--shadow) var(--color-04);
    transition: var(--transition);
}

.Orglist ul {
    list-style-type: none;
    padding: 0;
}
