.OrgList .orgs {
    display: grid;
    grid-template-columns: auto;
    gap: var(--gap-s);
}

.Orglist ul {
    list-style-type: none;
    padding: 0;
}

.Org {
    text-align: left;
    border: var(--border) var(--color-05);
    border-radius: var(--radius);

    background-color: var(--color-03);
    box-shadow:
        var(--shadow) var(--color-03);

    color: inherit;

    padding: var(--gap-m);
    transition: var(--transition);
}

.Org:hover {
    background-color: var(--color-04);
    box-shadow: var(--shadow) var(--color-04);
    transition: var(--transition);
}

.Org:active {
    border-color: var(--color-06);
    box-shadow: var(--shadow) var(--color-05);
    transition: var(--transition);
    color: var(--color-13);
    text-shadow: var(--shadow) var(--color-07);
}

.Org ul {
    list-style-type: none;
    padding: 0;
}

.Org .name {
    font-weight: bold;
}
