:root {
    --color-00: #1a191f;
    --color-01: #1f1d26;
    --color-02: #211d29;
    --color-03: #2c2336;
    --color-04: #34243d;
    --color-05: #472a52;
    --color-06: #5b2c5e;
    --color-07: #702b70;
    --color-08: #a14ca1;
    --color-09: #b863ac;
    --color-10: #c97fb6;
    --color-11: #d69fbd;
    --color-12: #e0b6c8;
    --color-13: #edced8;
    --color-14: #f2e4e7;
    --color-15: #faf5f6;

    --shadow: 0 0 5px 0;
    --radius: 5px;
    --border: 1px solid;
    --transition: 100ms;

    --gap-xs: 0.25rem;
    --gap-s: 0.5rem;
    --gap-m: 1rem;
    --gap-l: 1.5rem;
    --gap-xl: 2rem;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--color-12);
    background-color: var(--color-00);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    /* place-items: center; */
    min-width: 100vw;
    min-height: 100vh;
}

h1 {
    font-size: 3rem;
    line-height: 1.1;
}
